<div ng-controller="IgoCtrl" class="igosContent">
	<h3>Meetups</h3>
	<h3>
		<a class="btn btn-info" href="#/igo/new" role="button">Add </a>
	</h3>
	<p/>
	<div class="table-responsive">
		<table class="table table-hover  tableIgos">
		  <thead>
		    <tr class="trHeader">
		      <th>User </th>
		      <th>Place </th>
		      <th>Date </th>
		      <th> </th><!--view -->
		      <th> </th><!--edit / yes -->
		      <th> </th><!--remove / no -->
		      <th> </th><!--  / MayBe-->
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="igo in igos" ng-class-even="'igo-na'">
		      <td>{{igo.user}}</td>
		      <td>{{igo.place}}</td>
		      <td>{{getDate(igo.date)}} - {{getTime(igo.date)}}</td>
		      <td><a href="#/igo/view"> View </a> </td><!--view -->
		      <td class="js-resp" compile="igo | editOrYes"> </td><!--edit / yes -->
		      <td class="js-resp" compile="igo | deleteOrNot"> </td><!--remove / no -->
		      <td class="js-resp" compile="igo | nothingOrMayBe"> </td><!--  / MayBe-->
		    </tr>
		  </tbody>
		</table>
	</div>
</div>
